<html>
<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<head>
    <script src="http://www.moldcio.com/resources/admin/plugins/jquery.1.12.4.min.js"></script>
    <script src="http://www.moldcio.com/resources/admin/plugins/echarts/echarts.min.js"></script>
</head>
<body>

<div id="rhEcharts" class="div-top-5"
     style="width:1000px;height: 400px;border: 1px solid #ccc;border-radius: 5px;clear: both;margin-top: 5px">
</div>

</body>
<script>
    var rhEcharts = null;
    $(function () {
        // 基于准备好的dom，初始化echarts实例
        rhEcharts = echarts.init(document.getElementById('rhEcharts'));
    });

    function showImg(data) {
        var countQuestion = countQuestionData(data);
        addQuestionEchart(countQuestion);
    }
    function countQuestionData(arr) {
        var map = {},
            dest = [];
        for(var i = 0; i < arr.length; i++){
            var ai = arr[i];
            if(!map[ai.questionName]){
                dest.push({
                    questionName: ai.questionName,
                    data: [ai]
                });
                map[ai.questionName] = ai;
            }else{
                for(var j = 0; j < dest.length; j++){
                    var dj = dest[j];
                    if(dj.questionName == ai.questionName){
                        dj.data.push(ai);
                        break;
                    }
                }
            }
        }
        if(dest.length>0){
            for(var a = 0; a < dest.length; a++){
                var newItem = dest[a];
                var total = newItem.data.length;
                newItem.total = total;
            }
        }
        return dest;
    }

    function addQuestionEchart(data) {
        var name  = new Array();
        var datas  = new Array();
        for (var i = 0; i <data.length; i++) {
            var row = data[i];
            name.push(row.questionName);
            var rows = {
                value : row.total,
                name : row.questionName
            }
            datas.push(rows);
        }
        rhEcharts.setOption({
            title : {
                text: '资产问题点分布比例',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient : 'vertical',
                x : 'left',
                data:name
            },
            calculable : true,
            animation: false,
            series : [
                {
                    name:'问题点比例',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:datas,
                    itemStyle: {
                        normal: {
                            label: {
                                // position: 'inner',
                                show: true,
                                formatter: '{b}:{c}({d}%)'
                            },
                            labelLine: {show: true}
                        }
                    }
                }
            ]
        })
    }


    function returnEchartImg(echartObj) {
        return echartObj.getDataURL();
    }


</script>
</html>
